.dsa {
  width: 100%;
  height: 430px;
  margin-top: 50px;
  box-shadow: 0 0 10px 1px #eee;
  border-radius: 30px;
}
.dsa h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
}
.dsa button {
  margin-top: 0px;
  display: inline-block;
  width: 100px;
  border-radius: 20px;
  background-color: #1dbf73;
  filter: contrast(-10);
}
.link {
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #1dbf73;
  text-decoration: none;
}
.link:hover {
  color: #1dbf73 !important;
  text-decoration: none;
}
.dsew {
  width: 100%;
  height: 350px;
  margin: 0px;
  margin-top: 20px;
}
.carda {
  width: 270px;
  height: 340px;
  border: 1px solid #cecece;
  margin-left: 17px;
  margin-right: 1px;
}
.carda {
  cursor: pointer;
}
.imjh {
  width: 100%;
  height: 150px;
}
.info {
  width: 100%;
}
.ilk {
  height: 30px;
  border: none;
  border-radius: 500px;
  margin-left: 20px;
  margin-top: 10px;
}
.prof {
  margin-top: 14px;
  margin-left: 15px;
}
.data {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 1px;
  font-weight: 600;
  font-size: 17px;
}
.ste {
  margin-top: -12px;
}
.ends {
  border-bottom: 1px solid #cecece;
}
.sssds {
  background-color: #1dbf73 !important;
  width: 100px;
  border-radius: 30px !important;
}
.dsazz {
  width: 100%;
  height: 430px;
  margin-top: 50px;
  box-shadow: 0 0 10px 1px #eee;
  border-radius: 30px;
}
