.sswqa {
  background-color: #f7f7f7;
  height: 550px;
}
.wwqew {
  margin-top: -55px;
  background-color: #1dbf73 !important;
  color: white;
  border: none !important;
  border-radius: 20px !important;
}
.wwqew:hover {
  background-color: blue !important;
}
.ddcvs {
  margin-top: 100px;
  margin-left: 160px;
  height: 50px;
}
.ppp {
  margin-top: 20px;
  border-bottom: 1px solid gray;
  height: 2px;
  margin-left: 160px;
  margin-right: 180px;
}
.diaa {
  border: 1px solid #cecece;
  margin: 0px;
  padding: 0px;
  height: 50px;
  box-shadow: 0 0 10px 1px #eee;
}
.diia {
  border-bottom: 1px solid #cecece;
  height: 40px;
}
.aaaw {
  color: gray;
  margin-left: 400px;
  font-weight: 500;
  margin-top: 5px;
}
.aww {
  color: gray;
  margin-right: 160px;
  font-weight: 500;
  margin-top: 5px;
}
.ttre {
  border-bottom: 1px solid #cecece;
  height: 70px;
  margin-top: 15px;
}
.imjs {
  height: 45px;
  width: 70px;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 0px;
}
.nbvcx {
  width: 350px;
}
.lkp {
  margin-left: 170px;
  margin-top: 10px;
  color: gray;
  font-weight: 500;
}
.plk {
  margin-left: 140px;
  margin-top: 10px;
  color: gray;
  font-weight: 500;
}
.llqq {
  margin-top: 80px;
  box-shadow: 0 0 10px 1px #eee;
}
.wwqews {
  background-color: #1dbf73 !important;
  color: white;
  border: none !important;
  border-radius: 20px !important;
  margin-bottom: 10px;
  margin-top: 10px;
}
.ddcvss {
  box-shadow: 0 0 10px 1px #eee;
  margin-top: 30px;
  background-color: white;
}
.aaaws {
  color: gray;
  font-weight: 500;
  margin-top: 5px;
}
.awws {
  color: gray;
  font-weight: 500;
  margin-top: 5px;
}
.imjss {
  height: 45px;
  width: 70px;
  border-radius: 5px;
}
.lkps {
  margin-top: 10px;
  color: gray;
  font-weight: 500;
}
.plks {
  margin-top: 10px;
  color: gray;
  font-weight: 500;
}
